$line-height: 24px;

.react-large-table-td {
  .my-percent-bar {
    position: relative;
    width: 80px;
    height: $line-height;
    border: solid lavender 1px;
    background-color: snow;

    .bar {
      display: inline-block;
    //   border-radius: 0 6px 6px 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
      z-index: 0;
      &.green {
        background-color: springgreen;
      }

      &.red {
        background-color: tomato;
      }

      &.orange {
        background-color: orange;
      }

      &.blue {
        background-color: skyblue;
      }
    }

    .percent {
      display: block;
      line-height: $line-height;
      margin-left: 4px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 1;
      &::after {
        content: "%";
      }
    }
  }
}


.flag {
    width: 30px;
    height: 20px;
}