.application {
  background-color: palegreen;
  height: 90vh;
  padding-bottom: 50px;

  .paper-table {
    padding: 3px 5px;
    

    .table-container {
      z-index: 0;
      width: auto;
      height: 85vh;

      overflow: hidden;
      // resize: both;
      // background-color: gainsboro;
    }
  }
}
